{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{% block content %}
<div class="content">
    
    
    <div class="mb-4 d-flex justify-content-between align-items-center">
    <h2>Dashboard</h2>
    <form id="import-form" method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="input-group">
            <input type="file" name="zip_file" class="form-control" accept=".zip" required>
            <button type="submit" class="btn btn-primary">Import Data</button>
        </div>
    </form>
    </div>

    {% if messages %}
        <div class="alert alert-info mt-2">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}


    <div class="row">
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Companies by size</h5>
                    <h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-info"></i></h3>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="companySizeChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Share Capital by Size</h5>
                    <h3 class="card-title"><i class="tim-icons icon-bank text-primary"></i></h3>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="capitalSizeChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Top 5 Companies by Share Capital</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Name</th>
                                    <th>CNPJ</th>
                                    <th>SIZE</th>
                                    <th>SHARE CAPITAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for company in top_companies %}
                                <tr>
                                    <td>{{ company.corporate_name }}</td>
                                    <td>{{ company.basic_cnpj }}</td>
                                    <td>{{ company.company_size }}</td>
                                    <td>R$ {{ company.share_capital|floatformat:2 }}</td>
                                </tr>
                                {% empty %}
                                <tr><td colspan="4">companies not found</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Gráfico de quantidade de empresas por tamanho
        const companySizeData = {{ company_size_count|safe }};
        const sizeLabels = companySizeData.map(item => item.company_size);
        const sizeCounts = companySizeData.map(item => item.count);

        const ctx1 = document.getElementById('companySizeChart').getContext('2d');
        new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: sizeLabels,
                datasets: [{
                    label: 'Number of companies by size',
                    data: sizeCounts,
                    backgroundColor: 'rgba(54, 162, 235, 0.7)'
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });

        const capitalSizeData = {{ company_size_capital|safe }};
        const capitalLabels = capitalSizeData.map(item => item.company_size);
        const capitalValues = capitalSizeData.map(item => parseFloat(item.total_capital));

        const ctx2 = document.getElementById('capitalSizeChart').getContext('2d');
        new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: capitalLabels,
                datasets: [{
                    label: 'Total of shared capital (R$)',
                    data: capitalValues,
                    backgroundColor: 'rgba(255, 99, 132, 0.7)'
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });
    });
</script>
{% endblock extrajs %}
